/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require jquery-ui-timepicker-addon
 */

body {
  font-size: 62.5%;
  line-height: 1.5em;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
}

p {
  margin: 10px;
  font-size: 14px;
  font-size: 1.4rem;
}

input, textarea {
  position: absolute;
  height: 42px;
  border: none;
  background: #fff;
}

#create-event-hack input[type=submit], #event-hack input[type=submit] {
  text-indent: -9999em;
  background: transparent;
  cursor: pointer;
}

#create-event-hack {
  height: 1396px;
  width: 1020px;
  background: url(event_create.jpg) no-repeat left top;
}

#create-event-hack input, #event-hack input, #create-event-hack textarea {
  font-size: 36px;
  left: 310px;
  width: 395px;
}

#create-event-hack input[type=submit] {
  width: 190px;
  height: 64px;
  left: 411px;
  top: 1178px;
}

#create-event-hack #event_name {
  top: 550px;
}

#create-event-hack #event_start_date {
  font-size: 24px;
  top: 661px;
  width: 345px;
}

#create-event-hack #event_end_date {
  top: 766px;
  width: 345px;
  font-size: 24px;
}

#create-event-hack #event_location {
  top: 871px;
}

#create-event-hack #event_description {
  top: 996px;
  height: 126px;
  font-size: 14px;
}

#event-hack {
  height: 1020px;
  width: 1020px;
  background: url(event.jpg) no-repeat left top;
}

#event-hack .location, #event-hack .title, #event-hack .description {
  display: block;
  position: absolute;
}


#event-hack .title {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  background: rgb(53, 53, 53);
  height: 25px;
  padding: 15px 0;
  top: 12px;
  left: 47px;
  width: 240px;
}

#event-hack .location {
  font-weight: bold;
  font-size: 36px;
  background: #fff;
  height: 25px;
  padding: 10px 0 0 0;
  top: 522px;
  left: 65px;
  width: 520px;
}

#event-hack .description {
  font-size: 16px;
  background: #fff;
  height: 200px;
  padding: 5px 0;
  top: 592px;
  left: 63px;
  width: 520px;
}

#event-hack #graph {
  position: absolute;
  top: 72px;
}

#event-hack #start_date, #event-hack #end_date {
  left: 682px;
  height: 30px;
  width: 270px;
  font-size: 24px;
}

#event-hack #start_date {
  top: 641px;
}

#event-hack #end_date {
  top: 733px;
}

#event-hack input[type=submit] {
  width: 190px;
  height: 64px;
  left: 746px;
  top: 806px;
}

.hidden {
  display: none;
}

.ui-datepicker {
  font-size: 12px !important;
}