
.foreground.bar {
  fill: steelblue;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #aaa;
}

.axis line.minor {
  stroke: #ccc;
}

.x.axis path {
  stroke: none;
}

.brush .extent {
  stroke: #fff;
  fill: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}