<!DOCTYPE html>
<html>
<head>
  <title>Crowdshift</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="https://raw.github.com/csnover/js-iso8601/master/iso8601.min.js"></script>
  <script src="http://d3js.org/d3.v2.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
